In [132]:
import requests
import pandas as pd
import json
import time
import numpy as np

In [133]:
def get_info():
    response = requests.get(f"https://rickandmortyapi.com/api/character/")
    data = response.json()
    return {
        "pages": data["info"]["pages"],
        "characters": data["info"]["count"]
    }

In [134]:
info = get_info()
number_of_pages = info["pages"]
number_of_characters = info["characters"]

In [135]:
number_of_pages

42

In [136]:
number_of_characters

826

In [137]:
# Se usa time.sleep porque la api limita el n√∫mero de requests.
def get_data(number_of_pages):
    results = []
    for page in range(1, number_of_pages + 1):
        time.sleep(1)
        response = requests.get(f"https://rickandmortyapi.com/api/character/?page={page}")
        data = response.json()
        results.extend(data["results"])
    
    return results

In [138]:
data = get_data(number_of_pages)

In [139]:
len(data) == number_of_characters

True

<p><strong>Se confirma que se obtuvo todos los personajes</strong></p>

In [140]:
json_data = json.dumps(data)

In [141]:
rm_df = pd.read_json(json_data)

In [142]:
rm_df.head()

,id,name,status,species,type,gender,origin,location,image,episode,url,created
0,1,Rick Sanchez,Alive,Human,,Male,"{'name': 'Earth (C-137)', 'url': 'https://rick...","{'name': 'Citadel of Ricks', 'url': 'https://r...",https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/1, ht...",https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z
1,2,Morty Smith,Alive,Human,,Male,"{'name': 'unknown', 'url': ''}","{'name': 'Citadel of Ricks', 'url': 'https://r...",https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/1, ht...",https://rickandmortyapi.com/api/character/2,2017-11-04T18:50:21.651Z
2,3,Summer Smith,Alive,Human,,Female,"{'name': 'Earth (Replacement Dimension)', 'url...","{'name': 'Earth (Replacement Dimension)', 'url...",https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/6, ht...",https://rickandmortyapi.com/api/character/3,2017-11-04T19:09:56.428Z
3,4,Beth Smith,Alive,Human,,Female,"{'name': 'Earth (Replacement Dimension)', 'url...","{'name': 'Earth (Replacement Dimension)', 'url...",https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/6, ht...",https://rickandmortyapi.com/api/character/4,2017-11-04T19:22:43.665Z
4,5,Jerry Smith,Alive,Human,,Male,"{'name': 'Earth (Replacement Dimension)', 'url...","{'name': 'Earth (Replacement Dimension)', 'url...",https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/6, ht...",https://rickandmortyapi.com/api/character/5,2017-11-04T19:26:56.301Z

In [143]:
rm_df["origin"] = [elemento["name"] for elemento in rm_df["origin"]]
rm_df["location"] = [elemento["name"] for elemento in rm_df["location"]]

In [144]:
rm_df.head()

,id,name,status,species,type,gender,origin,location,image,episode,url,created
0,1,Rick Sanchez,Alive,Human,,Male,Earth (C-137),Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/1, ht...",https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z
1,2,Morty Smith,Alive,Human,,Male,unknown,Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/1, ht...",https://rickandmortyapi.com/api/character/2,2017-11-04T18:50:21.651Z
2,3,Summer Smith,Alive,Human,,Female,Earth (Replacement Dimension),Earth (Replacement Dimension),https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/6, ht...",https://rickandmortyapi.com/api/character/3,2017-11-04T19:09:56.428Z
3,4,Beth Smith,Alive,Human,,Female,Earth (Replacement Dimension),Earth (Replacement Dimension),https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/6, ht...",https://rickandmortyapi.com/api/character/4,2017-11-04T19:22:43.665Z
4,5,Jerry Smith,Alive,Human,,Male,Earth (Replacement Dimension),Earth (Replacement Dimension),https://rickandmortyapi.com/api/character/avat...,"[https://rickandmortyapi.com/api/episode/6, ht...",https://rickandmortyapi.com/api/character/5,2017-11-04T19:26:56.301Z

In [145]:
rm_df["type"] = np.where(rm_df["type"] == "", np.nan, rm_df["type"])

In [146]:
rm_df.isna().sum()

id            0
name          0
status        0
species       0
type        401
gender        0
origin        0
location      0
image         0
episode       0
url           0
created       0
dtype: int64

In [147]:
rm_df.drop(["type", "image", "url", "created"], axis=1, inplace=True)

In [148]:
rm_df.head()

,id,name,status,species,gender,origin,location,episode
0,1,Rick Sanchez,Alive,Human,Male,Earth (C-137),Citadel of Ricks,"[https://rickandmortyapi.com/api/episode/1, ht..."
1,2,Morty Smith,Alive,Human,Male,unknown,Citadel of Ricks,"[https://rickandmortyapi.com/api/episode/1, ht..."
2,3,Summer Smith,Alive,Human,Female,Earth (Replacement Dimension),Earth (Replacement Dimension),"[https://rickandmortyapi.com/api/episode/6, ht..."
3,4,Beth Smith,Alive,Human,Female,Earth (Replacement Dimension),Earth (Replacement Dimension),"[https://rickandmortyapi.com/api/episode/6, ht..."
4,5,Jerry Smith,Alive,Human,Male,Earth (Replacement Dimension),Earth (Replacement Dimension),"[https://rickandmortyapi.com/api/episode/6, ht..."

In [149]:
rm_df.rename({"episode": "number_of_episodes"}, inplace=True, axis=1)

In [150]:
rm_df["number_of_episodes"] = [len(elemento) for elemento in rm_df["number_of_episodes"]]

In [151]:
rm_df.head()

,id,name,status,species,gender,origin,location,number_of_episodes
0,1,Rick Sanchez,Alive,Human,Male,Earth (C-137),Citadel of Ricks,51
1,2,Morty Smith,Alive,Human,Male,unknown,Citadel of Ricks,51
2,3,Summer Smith,Alive,Human,Female,Earth (Replacement Dimension),Earth (Replacement Dimension),42
3,4,Beth Smith,Alive,Human,Female,Earth (Replacement Dimension),Earth (Replacement Dimension),42
4,5,Jerry Smith,Alive,Human,Male,Earth (Replacement Dimension),Earth (Replacement Dimension),39

In [152]:
rm_df.set_index("id", inplace=True)

In [153]:
rm_df.tail()

,name,status,species,gender,origin,location,number_of_episodes
id,,,,,,,
822,Young Jerry,unknown,Human,Male,Earth (Unknown dimension),Earth (Unknown dimension),1
823,Young Beth,unknown,Human,Female,Earth (Unknown dimension),Earth (Unknown dimension),1
824,Young Beth,unknown,Human,Female,Earth (Unknown dimension),Earth (Unknown dimension),1
825,Young Jerry,unknown,Human,Male,Earth (Unknown dimension),Earth (Unknown dimension),1
826,Butter Robot,Alive,Robot,Genderless,Earth (Replacement Dimension),Earth (Replacement Dimension),1

<h2>An√°lisis Status</h2>

In [154]:
rm_df["status"].unique()

array(['Alive', 'unknown', 'Dead'], dtype=object)

In [155]:
rm_df["status"] = np.where(rm_df["status"] == "unknown", "Unknown", rm_df["status"])

In [156]:
rm_df["status"].unique()

array(['Alive', 'Unknown', 'Dead'], dtype=object)

In [157]:
for status in rm_df["status"].unique():
    total = rm_df["status"][rm_df["status"] == status].count()
    print(f"Total {status}: {total}")

Total Alive: 439
Total Unknown: 100
Total Dead: 287

<h2>An√°lisis Species</h2>

In [158]:
rm_df["species"].unique()

array(['Human', 'Alien', 'Humanoid', 'unknown', 'Poopybutthole',
       'Mythological Creature', 'Animal', 'Robot', 'Cronenberg',
       'Disease'], dtype=object)

In [159]:
rm_df["species"] = np.where(rm_df["species"] == "unknown", "Unknown", rm_df["species"])

In [160]:
rm_df["species"].unique()

array(['Human', 'Alien', 'Humanoid', 'Unknown', 'Poopybutthole',
       'Mythological Creature', 'Animal', 'Robot', 'Cronenberg',
       'Disease'], dtype=object)

In [161]:
for specie in rm_df["species"].unique():
    total = rm_df["species"][rm_df["species"] == specie].count()
    print(f"Total {specie}: {total}")

Total Human: 366
Total Alien: 205
Total Humanoid: 68
Total Unknown: 13
Total Poopybutthole: 8
Total Mythological Creature: 46
Total Animal: 55
Total Robot: 51
Total Cronenberg: 8
Total Disease: 6

<h1>An√°lisis Gender</h2>

In [162]:
rm_df["gender"].unique()

array(['Male', 'Female', 'unknown', 'Genderless'], dtype=object)

In [163]:
rm_df["gender"] = np.where(rm_df["gender"] == "unknown", "Unknown", rm_df["gender"])

In [164]:
rm_df["gender"].unique()

array(['Male', 'Female', 'Unknown', 'Genderless'], dtype=object)

In [165]:
for gender in rm_df["gender"].unique():
    total = rm_df["gender"][rm_df["gender"] == gender].count()
    print(f"Total {gender}: {total}")

Total Male: 610
Total Female: 148
Total Unknown: 49
Total Genderless: 19

<h2>Cuantos est√°n en su lugar de origen</h2>

In [166]:
total = rm_df["location"][rm_df["origin"] == rm_df["location"]].count()

In [167]:
total

458

<h2>Personajes que m√°s han aparecido</h2>

In [168]:
rm_df[["name", "number_of_episodes"]][rm_df["number_of_episodes"] == rm_df["number_of_episodes"].max()]

            name  number_of_episodes
id
1   Rick Sanchez                  51
2    Morty Smith                  51

<h2>Personajes que menos han aparecido</h2>

In [169]:
rm_df[["name", "number_of_episodes"]][rm_df["number_of_episodes"] == rm_df["number_of_episodes"].min()]

                          name  number_of_episodes
id
6    Abadango Cluster Princess                   1
8             Adjudicator Rick                   1
9              Agency Director                   1
10                  Alan Rails                   1
11             Albert Einstein                   1
..                         ...                 ...
822                Young Jerry                   1
823                 Young Beth                   1
824                 Young Beth                   1
825                Young Jerry                   1
826               Butter Robot                   1

[727 rows x 2 columns]

<h2>Cuantos personajes por localidad</h2>

In [170]:
rm_df.groupby("location")["name"].count()

location
Abadango                      1
Alien Acid Plant              4
Alien Day Spa                 1
Alphabetrium                  5
Anatomy Park                 11
                             ..
Worldender's lair             9
Z. Q. P. D.                   1
Zeep Xanflorp's Miniverse     1
Zigerion's Base               4
unknown                      21
Name: name, Length: 95, dtype: int64

<p>Se verifica repitiendo la f√≥rmula con gender y se obtienen los mismos resultados.</p>

In [171]:
rm_df.groupby("gender")["name"].count()

gender
Female        148
Genderless     19
Male          610
Unknown        49
Name: name, dtype: int64